.home-container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(233, 36, 36, 0.795);
}

.home {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.home-content {
    flex: 1 1 500px;
    padding: 2rem;
    max-width: 600px;
}

.home-content h1 {
    font-size: 3.5rem;
    color: white;
    max-width: 100%;
}

.home-content p {
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
}

.home-btn {
    margin-top: 2rem;
    padding: 1rem 1.8rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #e92424;
    font-weight: bold;
    cursor: pointer;
}
.home-btn:hover{
    color: white;
    background-color: #e92424;
}

.home-img {
    flex: 1 1 300px;
    max-width: 400px;
    max-height: 400px;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Tablet view */
@media screen and (max-width: 992px) {
    .home-content h1 {
        font-size: 2.8rem;
    }

    .home-btn {
        padding: 0.8rem 1.5rem;
    }

    .home-img {
        margin-top: 2rem;
    }
}

/* Mobile view */
@media screen and (max-width: 600px) {
    .home {
        flex-direction: column;
        padding: 1rem;
    }

    .home-content {
        padding: 1rem;
    }

    .home-content h1 {
        font-size: 2.2rem;
    }

    .home-btn {
        width: 50%;
        text-align: center;
    }

    .home-img {
        max-width: 100%;
        margin-top: 1.5rem;
    }
}
